* {
  box-sizing: border-box;
}

.main-title {
  font-size: 60px;
  word-spacing: 0px;
  text-align: center;
  margin: 60px 60px;
  font-family: "Cedarville Cursive", cursive;
}
.story-title {
  font-style: italic;
  font-size: 30px;
  margin: 15px;
}

.row {
  display: flex;
  align-items: stretch;
}
.story {
  border: 1px solid #333;
  padding: 50px;
}
